[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
gdal = {path = "C:/Users/devon/Downloads/GDAL-3.2.3-cp38-cp38-win32.whl"}
psycopg2 = "*"
httpie = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
